@import url('https://fonts.googleapis.com/css2?family=Inter');
@import url('https://fonts.googleapis.com/css2?family=Rubik');
* {
    font-family: 'Inter';
}
body {
    margin: 0;
    background-color: aqua;
}
@keyframes header-bg-roll {
    0% {background-position: 0% 0%;}
    100% {background-position: 400% 0%;}
}
.header {
    display: flex;
    flex-direction: column;
    /* filter:blur(.3px); */
    /* background-color: rgba(255,255,255,0); */
    background-image: url('img/colorbars_skew1.png');
    background-size: 400%;
    background-position: 0% 0%;
    animation-name: header-bg-roll;
    animation-duration: 120s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
@keyframes header-bg-roll-2 {
    0% {background-position: 0px 0px;}
    12.5% {background-position: 430px 107.5px;}
    25% {background-position: 860px 215px;}
    37.5% {background-position: 1290px 322.5px;}
    50% {background-position: 1720px 430px;}
    62.5% {background-position: 2150px 537.5px;}
    75% {background-position: 2580px 645px;}
    87.5% {background-position: 3010px 752.5px;}
    100% {background-position: 3440px 860px;}
}
.bg-container {
    /* filter:blur(.3px); */
    /* background-color: rgba(255,255,255,0); */
    background-image: url('img/tiledConfetti.png');
    background-size: 860px 860px;
    background-position: 0% 0%;
    animation-name: header-bg-roll-2;
    animation-duration: 120s;
    animation-timing-function:cubic-bezier(0.68, -0.55, 0.265, 1.55);
    animation-iteration-count: infinite;
}
.bg-container-2 {
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(60px);
    -webkit-backdrop-filter: blur(60px); 

}
.title-container {
    padding: 20px;
    background-color: rgba(255,255,255,.1);
}
h1 {
    font-family: 'Rubik';
    text-transform: uppercase;
    margin: 10px 0 0 0;
    text-shadow: 0px .1px 45px white;
}
h2 {
    font-size: .8em;
    font-weight: 200;
    margin: 20px 0 0 0;
    color: lightgray;
    text-shadow: 0px .1px 15px rgb(56, 56, 56);
}
.menu-container {
    display: flex;
    flex-direction: row;
    padding-left: 20px;
    height: 65px;
}
.menu-option {
    /* background-color: #22529b;
    border: 0px solid #22529b;
    border-radius: .5em; */
    margin-right: 10px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu-option a {
    padding-top: 0px;
    text-decoration: underline 0.12em rgba(255,255,255,0);
    text-underline-offset: 1em;
    transition: text-decoration-color 300ms, text-underline-offset 300ms, padding-top 300ms;
    font-family: 'Rubik';
    font-weight: 800;
    font-size: 1em;
    color: white;
}
.menu-option a:hover {
    padding-top: 5px;
    text-decoration-color: rgba(255,255,255,1);
    text-underline-offset: 0.1em;
}